<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17508847403-0k0b7gcgujo55jkr9f5ui4c88rqsh54c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17508847403-0k0b7gcgujo55jkr9f5ui4c88rqsh54c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>17508847403-4dj639i7dmfgvrahh83rtrmakojrl47g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKguveeNZ6FMoIFlr1wTTDFgh8bStqL3A</string>
	<key>GCM_SENDER_ID</key>
	<string>17508847403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userAuth</string>
	<key>PROJECT_ID</key>
	<string>userintegration-f8858</string>
	<key>STORAGE_BUCKET</key>
	<string>userintegration-f8858.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17508847403:ios:9af2362d21b6fc7d2b3f6e</string>
</dict>
</plist>